
                  <div class="card">
                    <div class="card-heading">
                        <h1>{{ collection.title }}</h1>
                        <!-- Display the collection description if one exists. -->
                        {% unless collection.description == '' %}
                          {{ collection.description }}
                        {% endunless %} 
                    </div>

                    <div class="card-body bg-white">
                      <div class="product-filter m-b-md">
                        <strong>Filter by tag:</strong>
                        {% include 'tag-list' with collection %}
                      </div>

                          {% paginate collection.products by 100 %}

                          {% if collection.products.size == 0 %}
                            <div class="panel panel-default">
                              <div class="panel-body">
                                No products found in this collection.
                              </div>
                            </div>
                          {% else %}

                          
                            <!-- Include product list in groups of 1. -->
                            <table class="table table-hover table-condensed">
                              {% for product in collection.products %}
                                {% include 'product-list' with '1' %}
                              {% endfor %}
                            </table>

                            <div class="text-center">
                              {% include 'pagination' with 'product' %}
                            </div>
                          {% endif %}

                          {% endpaginate %}
                    </div>
                  </div>
               </div>

